<section class="container-fluid gradient-form d-flex justify-content-center align-items-start mt-5">
    <div class="card rounded-3 text-black col-8 col-sm-6 col-md-5 col-lg-4">
        <div class="col-12">
            <div class="card-body p-md-3 mx-md-2">

                <div >
                    <img src="../../../assets/banner.png" style="width: 100%;" alt="logo">
                </div>

                <div class="text-center mt-3 mb-3">
                    <h1 >Agregar Educación</h1>
                </div>

                <form class="px-md-2" (ngSubmit)="onCreate()" novalidate #f="ngForm">

                    <div class="form-outline">
                        <input type="text" id="degree" class="form-control" name="degree" placeholder="Título" [(ngModel)]="degree" required />
                        <label class="form-label" for="degree"></label>
                    </div>

                    <div class="row">                    
                        <div class="col-md-6">
                            <div class="form-outline d-inline">
                                <input type="text" class="form-control" id="dateEnd" name="dateEnd" placeholder="Año " [(ngModel)]="dateEnd" required />
                                <label for="dateEnd" class="form-label"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-outline">
                            <textarea class="form-control" id="description" rows="4" name="description" placeholder="Descripción" [(ngModel)]="description" required></textarea>
                            <label for="description" class="form-label"></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                        <!--
                            <div class="form-outline d-inline">
                                <input class=" form-control-sm d-inline" type="file" value="select" id="file" #selectImg (change)="captureFile($event)">
                            </div>
                            <div *ngIf="preview">
                                <img class="img-fluid p-2" [src]="preview" alt="">
                            </div>
                        -->

                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-outline d-inline d-grid gap-2 d-flex justify-content-end">
                                <button class="d-inline btn p-0" type="submit" class="btn btn-light btn-md mb-1" id="button"><strong>Agregar</strong></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
