<section class="container-fluid gradient-form  d-flex justify-content-center align-items-start mt-5">
    <div class="card rounded-3 text-black col-8 col-sm-6 col-md-5 col-lg-4">
      <div class="row g-0">
        <div class="col-12">
          <div class="card-body ">

            <div class="text-center">a
              <img src="../../../assets/banner.png" style="width: 100%;" alt="logo">
              <h4 class="mb-2 mt-2"><strong>idBor</strong></h4>
            </div>

            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
              <div class="form-outline">
                <input type="email" id="userName" name="userName" class="form-control md"
                      placeholder="Username" [(ngModel)]="userName" name="userName" required />
                <label class="form-label" for="userName"></label>
              </div>

              <div class="form-outline">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required />
                <label class="form-label" for="password"></label>
              </div>

              <div class=" pt-1">
                <button class="btn btn-light btn-block fa-lg mb-2" type="submit"><strong>Ingresar</strong></button><br>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>