
.card{
    /* fallback for old browsers */
    background: #ae2c66, #9e296c, #8d2870, #7a2973, #652a74, #4f2b74, #362b71, #142a6c;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,#ae2c66, #9e296c, #8d2870, #7a2973, #652a74, #4f2b74, #362b71, #142a6c);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ae2c66, #9e296c, #8d2870, #7a2973, #652a74, #4f2b74, #362b71, #142a6c);
}

.gradient-form {
    
}

#file{
    color: transparent;
}

#button{
    filter: drop-shadow(5px 5px 10px #fb4a71);
}